.container-connections {
    height: 100%;
    width: 100%;
}

.connections-li {
    display: grid;
    gap: 20px;
    margin: 2rem;
    grid-template-areas: "title" "container";
    grid-template-rows: 1rem 1rem;
}

.connections-title {
    grid-area: title;
    text-transform: uppercase;
    font-weight: 600;
    color: #7e7e7e;
    letter-spacing: 1px;
    font-size: 1.3rem;
}

.connections {
    grid-area: container;
    display: flex;
    font-size: 1.1rem;
    text-transform: capitalize;
}